doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') Fanclub
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/aboutus/') About
          ul.navbar-nav.ml-auto
            if user
              li.nav-item
                a.nav-link(href='/yourfanclub') Welcome, #{user.username}
              li.nav-item
                a.nav-link(href='/api/logout') Logout
            else
              li.nav-item.pd-2
                a.nav-link(data-toggle='modal', data-target='#loginModal') Log In
              li.nav-item
                a.nav-link(data-toggle='modal', data-target='#registerModal') Register
    .content
      block content
    footer.footer.bg-dark.text-white
      .container
        .row
          .col-md-4
            h5 Fan Club Connect
            p This website is a fan club for fans of the band Fanclub. We are not affiliated with the band in any way.
          .col-md-4
            h5 Our Social Media
            ul.list-unstyled
              li
                a.i.fa.fa-facebook(href='#')
              li
                a.i.fa.fa-linkedin(href='#')
              li
                a.i.fa.fa-instagram(href='#')
          .col-md-4
            h5 Contact
            p
              i.fa.fa-envelope
              |  email@example.com
            p
              i.fa.fa-phone
              |  +1 234 567 890
        .text-center
          | © 2024 Fanclub Connect
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loginForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          const data = {
            email: formData.get('email'),
            password: formData.get('password')
          };

          fetch('/api/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(data => {
            if (data.user) {
              window.location.href = '/yourfanclub';
            } else {
              alert(data.message);
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        });

        document.getElementById('registerForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          const selectedClub = document.getElementById('registerClub').selectedOptions[0];
          const data = {
            username: formData.get('username'),
            clubID: selectedClub.value,
            clubName: selectedClub.text,
            password: formData.get('password'),
            email: formData.get('email')
          };

          console.log('Submitting data:', data); // Log the data being submitted

          fetch('/api/fans', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            window.location.href = '/';
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        });
      });
    // Login Modal
    .modal.fade(id='loginModal', tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title.text-white Log In
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form#loginForm
              .form-group
                label(for='loginEmail') Email address
                input#loginEmail.form-control(name='email', type='email', placeholder='Enter email')
              .form-group
                label(for='loginPassword') Password
                input#loginPassword.form-control(name='password', type='password', placeholder='Password')
              button.btn.btn-primary(type='submit') Log In
    // Register Modal
    .modal.fade(id='registerModal', tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title.text-white Register
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form#registerForm
              .form-group
                label(for='registerEmail') Email address
                input#registerEmail.form-control(name='email', type='email', placeholder='Enter email')
              .form-group
                label(for='registerUsername') Username
                input#registerUsername.form-control(name='username', type='text', placeholder='Enter username')
              .form-group
                label(for='registerClub') Your club
                select#registerClub.form-control(name='club')
                  option(value='') Select your favorite club
                  if clubs
                    each club in clubs
                      option(value=club._id) #{club.name}
              .form-group
                label(for='registerPassword') Password
                input#registerPassword.form-control(name='password', type='password', placeholder='Password')
              .form-group
                label(for='registerConfirmPassword') Confirm Password
                input#registerConfirmPassword.form-control(name='confirmPassword', type='password', placeholder='Confirm Password')
              button.btn.btn-secondary(type='submit') Register