extends layout 
block content
  .content
    // Background Video
    video#bg-video(autoplay, muted, loop)
      source(src='/images/background.mp4', type='video/mp4')
      Your browser does not support the video tag.
    // Main Content
    .container.mt-5
      h2.text-center.text-white.mb-4.mb-5 Next games:
      .row
        .col-md-4
          .card.mb-4.p-3.custom-card-bg
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/chelsea.png', alt='Chelsea Logo', class='team-logo')
                span.vs VS
                img(src='/images/nottingham.png', alt='Nottingham Logo', class='team-logo')
              h5.card-title.mt-3 Chelsea vs Nottingham
              p.card-text
                | Time: 14:00
                br
                | Date: 2024-10-06
              a.btn.btn-primary.mt-3.text-white(data-toggle='modal', data-target='#loginModal') View Event
        .col-md-4
          .card.mb-4.p-3.custom-card-bg
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/astonvilla.png', alt='Aston Villa Logo', class='team-logo')
                span.vs VS
                img(src='/images/man_un.png', alt='Man United Logo', class='team-logo')
              h5.card-title.mt-3 Aston Villa vs Man Utd
              p.card-text
                | Time: 14:00
                br
                | Date: 2024-10-06
              a.btn.btn-primary.mt-3.text-white(data-toggle='modal', data-target='#loginModal') View Event
        .col-md-4
          .card.mb-4.p-3.custom-card-bg
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/brighton.png', alt='Brighton Logo', class='team-logo')
                span.vs VS
                img(src='/images/tottenham.png', alt='Tottenham Logo', class='team-logo')
              h5.card-title.mt-3 Brighton vs Tottenham
              p.card-text
                | Time: 16:30
                br
                | Date: 2024-10-06
              a.btn.btn-primary.mt-3.text-white(data-toggle='modal', data-target='#loginModal') View Event