extends layout
block content
  .content
    // Background Video
    video#bg-video(autoplay, muted, loop)
      source(src='/images/background.mp4', type='video/mp4')
      Your browser does not support the video tag.
    // Main Content
    .container.mt-5
      // Carousel for Latest Club News
      .carousel.slide#newsCarousel(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/images/chelseaNews1.jpg', alt='First slide')
            .carousel-caption
              h5 Latest News 1
              p Some quick example text to build on the news and make up the bulk of the content.
          .carousel-item
            img.d-block.w-100(src='/images/chelseaNews2.jpeg', alt='Second slide')
            .carousel-caption
              h5 Latest News 2
              p Some quick example text to build on the news and make up the bulk of the content.
          .carousel-item
            img.d-block.w-100(src='/images/chelseaNews3.jpg', alt='Third slide')
            .carousel-caption
              h5 Latest News 3
              p Some quick example text to build on the news and make up the bulk of the content.
        a.carousel-control-prev(href='#newsCarousel', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#newsCarousel', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
      // Future Chelsea Games
      h2.text-center.text-white.mb-4.mb-5.future-games-heading Future Chelsea Games:
      .row
        .col-md-12
          .future-game-card
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/chelsea.png', alt='Chelsea Logo', class='team-logo')
                span.vs VS
                img(src='/images/nottingham.png', alt='Nottingham Logo', class='team-logo')
              h5.card-title.mt-3 Chelsea vs Nottingham
              p.card-text
                | Time: 14:00
                br
                | Date: 2024-10-06
              a.btn.btn-primary.mt-3.text-white.btn-view-event(data-toggle='modal', data-target='#loginModal') View Event
              a.btn.btn-buy-tickets.mt-3.text-white(href='#') Buy Tickets
        .col-md-12
          .future-game-card
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/chelsea.png', alt='Chelsea Logo', class='team-logo')
                span.vs VS
                img(src='/images/arsenal.png', alt='Arsenal Logo', class='team-logo')
              h5.card-title.mt-3 Chelsea vs Arsenal
              p.card-text
                | Time: 19:45
                br
                | Date: 2024-10-15
              a.btn.btn-primary.mt-3.text-white.btn-view-event(data-toggle='modal', data-target='#loginModal') View Event
              a.btn.btn-buy-tickets.mt-3.text-white(href='#') Buy Tickets
        .col-md-12
          .future-game-card
            .card-body.text-center
              .d-flex.justify-content-between.align-items-center.mb-3
                img(src='/images/chelsea.png', alt='Chelsea Logo', class='team-logo')
                span.vs VS
                img(src='/images/man_un.png', alt='Man United Logo', class='team-logo')
              h5.card-title.mt-3 Chelsea vs Man Utd
              p.card-text
                | Time: 16:30
                br
                | Date: 2024-10-22
              a.btn.btn-primary.mt-3.text-white.btn-view-event(data-toggle='modal', data-target='#loginModal') View Event
              a.btn.btn-buy-tickets.mt-3.text-white(href='#') Buy Tickets